#root {
    margin: 0;
    background-color: white;
    min-height: 100vh;
}

/* Initiative */
.card-initiative {
    max-width: 600px;
}

.card-header {
    text-align: center;
}

.card-action-icons {
    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.test {
    background-color: red;
    min-width: 100%;
    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
}

/* Business Card - Shared */

/* Business Card - Researcher */
.card-researcher {
    max-width: 400px;
    padding: 25px;
    text-align: center;
}


